.btn{
    padding:15px;
    border-radius: 5px;
    background-color: #2e2c2c;
    color:#fff;
    height: 50px;
}

.body__alignment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}